---
import Layout from '~/layouts/Layout.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
import NextStep from '~/components/widgets/NextStep.astro';
import Teaser from '~/components/widgets/Teaser.astro';
import MoreInformation from '~/components/widgets/MoreInformation.astro';
import { getStep } from '~/data/steps';

const step = getStep('8')!;
---

<Layout>
  <ContentPage title={step.title} step={{ number: step.number }}>
    <Teaser step={step} />
    <p>
      <i>
        Kritischer Kommentar: Der Bonus ist sicherlich ein gutgemeinter Anreiz, bezieht sich meines
        Wissens aber nur auf das Kinderbetreuungsgeld. Somit fallen unbezahlte Karenzmonate,
        Betreuung während Arbeitslosigkeit o.ä. aus der Rechnung heraus. Beim Einkommensabhängigen
        mit nur 14 Monaten Maximalzeit, ist es zudem gerade für Neu-Eltern schwierig, sich direkt
        ohne Erfahrung für eine 7/7-Monate-Aufteilung zu entscheiden. Bei dieser würde die
        Neu-Mutter nach 7 Monaten in den Beruf zurückkehren müssen - die Statistik zeigt, dass viele
        Eltern sich für 12/2 entscheiden.</i
      >
    </p>
  </ContentPage>
  <MoreInformation step={step} />
  <NextStep step={step} />
</Layout>
