---
import Layout from '~/layouts/Layout.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
---

<Layout>
  <ContentPage title="Pensionssplitting" step={{ number: '9', total: 9 }}>
    <p>🚧 Inhalt in Arbeit 🚧</p>
  </ContentPage>
</Layout>
